/* General  */
:root {
	--color-white: #ffffff;
	--color-dark-text: #161012;
	--color-dark-grey: #6b7376;
	--color-text-grey: #b6bbc1;
	--color-headers: #eaeaea;
	--color-contact-active: #e9ebeb;
	--color-light-icons: #b1b1b1;
	--color-sent-message: #d5f9ba;
	--color-notification: #8edafc;
    --color-searchbar-bg: #fafafa;
    --color-send-msg-button: #009688;
    --color-send-msg-button-hover: #0fb4a3;
    --color-background: linear-gradient(180deg, #009688 24.99%, #DCDBD3 25%);
}
body {
    font-family: 'Lato', sans-serif;
}

#app{
    width: 100%;
    height: 100vh;
    background: var(--color-background)
}

.h0 {
    height: 0;
}
.txt-small {
    font-size: 0.8em;
}
a {
    color: var(--color-white);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* splashpage  */
#splashpage {
    background-image: url(../img/pattern-splashpage.png);
    background-color: var(--color-send-msg-button-hover);
    color: var(--color-white);
    width: 100%;
    height: 100%;
    position: relative;
}
.bg-splash {
    width: 20px;
    height: 20px;
    background-color: var(--color-send-msg-button);
    background-repeat: repeat;
    border-radius: 50%;
    position: absolute;

}
.title {
    z-index: 1000;
    font-family: 'Love Ya Like A Sister', cursive;
}
.title h1, .title i {
    font-size: 4em;
}

.bg-grow-enter-active {
    animation: grow 3s;
}
@keyframes grow {
0% {
    transform: scale(1);
}
30% {
    transform: scale(40);
}
100% {
    transform: scale(150);
}
}
.title-animation-enter-active{
    animation: bounce-in 0.8s ease-in-out;
}
@keyframes bounce-in {
0% {
    transform: scale(0);
}
60% {
    transform: scale(1.8);
}
100% {
    transform: scale(1);
}
}


/* contacts  */
.contacts {
    background-color: var(--color-white);
}
.contact-box {
    cursor: pointer;
}
.header {
    background-color: var(--color-headers);
}
.user-img-box {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.user-img {
    width: 100%;
}
.user-icons .fa-solid {
    font-size: 1.5em;
    color: var(--color-text-grey);
}

/* notifications  */
.notifications-disabled {
    background-color: var(--color-notification);
}
.notifications-active {
    background-color: var(--color-send-msg-button-hover);
}
.notifications-icon {
    background-color: var(--color-white);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 1.5em;
}
.notifications-icon .fa-bell-slash {
    color: var(--color-notification);
}
.notifications-icon .fa-bell {
    color: var(--color-send-msg-button-hover);
}

/* search bar  */
.search-contacts {
    background-color: var(--color-searchbar-bg);
}
.search-contacts .input-group-text {
    color:var(--color-text-grey);
    background-color: var(--color-white);
}

/* contact box  */
.contact-box {
    height: fit-content;
}
.contact-box:hover {
    background-color: var(--color-contact-active);
}
.contact-box .txt-small, .contact-box .time {
    color: var(--color-text-grey);
}
.active {
    background-color: var(--color-headers);
}


/* main chat  */
.main-chat {
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
}

.msg {
    border-radius: 10px;
    flex-grow: 0;
    margin-bottom: 10px;
    width: 270px;
    position: relative;
}
.msg-text {
    padding: 15px;
}
.msg-time {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.7em;
    color: var(--color-text-grey);
}
.received-msg {
    background-color: var(--color-white);
}
.sent-msg {
    background-color: var(--color-sent-message);
    align-self: flex-end;
}
.msg-delete {
    color: var(--color-text-grey);
}
.msg.sent-msg:before {
	content: '';
	position: absolute;
	right: 0;
	top: 40%;
	border: 20px solid transparent;
	border-left-color: var(--color-sent-message);
	border-right: 0;
	border-top: 0;
	margin-top: -5px;
	margin-right: -15px;
}
.msg.received-msg:before {
	content: '';
	position: absolute;
	left: 0;
	top: 40%;
	border: 20px solid transparent;
	border-right-color:var(--color-white);
	border-left: 0;
	border-top: 0;
	margin-top: -5px;
	margin-left: -15px;
}
.main-chat .dropdown-menu{
    right: -10px !important;
}


/* message bar  */
.msg-bar{
    background-color: var(--color-headers);
}
.msg-send {
    background-color: var(--color-send-msg-button);
}
.msg-send:hover {
    background-color: var(--color-send-msg-button-hover);
}
.rounded-icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-text-grey);
    color: var(--color-text-grey);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rounded-icon:hover, .header i:hover, .msg-delete:hover{
    color: var(--color-dark-grey);
    cursor: pointer;
}