/* General  */
:root {
	--color-white: #ffffff;
	--color-dark-text: #161012;
	--color-dark-grey: #6b7376;
	--color-text-grey: #b6bbc1;
	--color-headers: #eaeaea;
	--color-contact-active: #e9ebeb;
	--color-light-icons: #b1b1b1;
	--color-sent-message: #d5f9ba;
	--color-notification: #8edafc;
    --color-searchbar-bg: #fafafa;
    --color-background: linear-gradient(180deg, #009688 24.99%, #DCDBD3 25%);
}
body {
    font-family: 'Lato', sans-serif;
}

#app{
    width: 100%;
    height: 100vh;
    padding: 20px;
    background:var(--color-background);
}

.h0 {
    height: 0;
}
.txt-small {
    font-size: 0.8em;
}

/* contacts  */
.contacts {
    background-color: var(--color-white);
}
.header {
    background-color: var(--color-headers);
}
.user-img-box {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.user-img {
    width: 100%;
}
.user-icons .fa-solid {
    font-size: 1.5em;
    color: var(--color-text-grey);
}

/* notifications  */
.notifications {
    background-color: var(--color-notification);
}
.notifications-icon {
    background-color: var(--color-white);
    color: var(--color-notification);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 1.5em;
}
.notifications a {
    color: var(--color-dark-grey);
}
/* search bar  */
.search-contacts {
    background-color: var(--color-searchbar-bg);
}

/* contact box  */
.contact-box {
    height: fit-content;
}
.contact-box:hover {
    background-color: var(--color-contact-active);
}
.contact-box .txt-small, .contact-box .time {
    color: var(--color-text-grey);
}


/* main chat  */
.main-chat {
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
}

.msg {
    padding: 10px 20px;
    border-radius: 10px;
    flex-grow: 0;
    margin-bottom: 10px;
    width: fit-content;
}
.received-msg {
    background-color: var(--color-white);
}
.sent-msg {
    background-color: var(--color-sent-message);
    align-self: flex-end;
}

/* message bar  */
.msg-bar{
    background-color: var(--color-headers);
}