<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900& family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="container h-100">
            <div class="row h-100 flex-nowrap">
                <!-- contacts  -->
                <div class="col-12 col-md-4 contacts g-0">
                    <div class="h-100 d-flex flex-column flex-nowrap">
                        <!-- header  -->
                        <div class=" header p-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="user-img-box">
                                    <img class="user-img" src="img/avatar_io.jpg" alt="User profile pic">
                                </div>
                                <h5 class="m-0 ps-2">Giulia</h5>
                            </div>
                            <div class="d-flex column-gap-3 user-icons">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <!-- notifications  -->
                        <div class="p-3 notifications d-flex">
                            <div class="notifications-icon d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div>
                                <h5 class="m-0 ps-2">Ricevi notifiche di nuovi messaggi</h5>
                                <a href="#" class="m-0 ps-2 fw-light">Attiva notifiche desktop</a>
                            </div>
                        </div>

                        <!-- search bar  -->
                        <div class="p-3 search-contacts">
                            <div class="input-group">
                                <button type="button" class="btn">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                                <input type="search" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Search" />
                            </div>
                        </div>

                        <!-- contacts  -->
                        <div class="d-flex flex-column flex-grow-1 overflow-y-auto">
                            <div class="contact-box w-100 py-2 border d-flex justify-content-between" v-for="(contact,index) in contacts" :key="contact.id" @click="openChat(index)">
                                <div class="d-flex ps-3">
                                    <div class="user-img-box">
                                        <img class="user-img" :src="contact.avatar" :alt="contact.name">
                                    </div>
                                    <div class="ps-3">
                                        <h5 class="m-0">{{contact.name}}</h5>
                                        <div class="txt-small">{{lastMessage(contact.messages)}}</div>
                                    </div>
                                </div>
                                <div class="time pe-3">12:00</div>
                            </div>
                            
                        </div>
                    </div>
                </div>


                <!-- main chat  -->
                <div class="col-12 col-md-8 g-0">
                    <div class="h-100 d-flex flex-column flex-nowrap">
                        <div class=" header p-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="user-img-box">
                                    <img class="user-img" :src="contacts[activeUser].avatar" :alt="contacts[activeUser].name">
                                </div>
                                <div>
                                    <h5 class="m-0 ps-2">{{contacts[activeUser].name}}</h5>
                                    <h6 class="m-0 ps-2 fw-light">Ultimo accesso alle...</h6>
                                </div>
                            </div>
                            <div class="d-flex column-gap-3 user-icons">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <div class="main-chat overflow-y-auto ps-2 w-100 h-100">
                            <div class="chat-container px-5 pt-3 d-flex flex-column">
                                <div class="msg" v-for="msg in contacts[activeUser].messages" :class="[msg.status === 'sent' ? 'sent-msg' : 'received-msg']" >
                                   <div class="msg-text">
                                    {{msg.message}}
                                   </div> 
                                   <div class="msg-time">{{getTiming(msg.date)}}</div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="msg-bar p-2 d-flex justify-content-between">
                            <i class="fa-regular fa-face-smile px-5 py-2"></i>
                            <input type="text" class="form-control w-75" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMsg()">
                            <i class="fa-solid fa-microphone px-5 py-2"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script type="module" src="js/data.js" ></script> -->
    <script src="js/script.js"></script>
</body>

</html>
