<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">

        <!-- splashpage  -->
        <div id="splashpage" class="d-flex justify-content-center align-items-center overflow-hidden" :class="{'d-none' : !splashpage}">
            
            <Transition name="title-animation">
                <div class="d-flex title" v-if="showTitle">
                    <h1>BoolzApp</h1>
                    <i class="fa-solid fa-paper-plane ps-3"></i>
                </div>
            </Transition>
            <Transition name="bg-grow">
                <div class="bg-splash" v-if="showTitle"></div>
            </Transition>
        </div>

        <!-- app -->
        <div class="container h-100 py-md-4 overflow-hidden" :class="{'d-none' : splashpage}">
            <div class="row h-100 flex-nowrap">

                <!-- contacts  -->
                <div class="col-12 col-md-6 col-lg-4 contacts g-0 d-md-block" :class="{'d-none' : showChat}">
                    <div class="h-100 d-flex flex-column flex-nowrap">
                        <!-- header  -->
                        <div class=" header p-3 d-flex justify-content-between align-items-center border-end">
                            <div class="d-flex align-items-center">
                                <div class="user-img-box">
                                    <img class="user-img" src="img/avatar_io.jpg" alt="User profile pic">
                                </div>
                                <h5 class="m-0 ps-2">Giulia</h5>
                            </div>
                            <div class="d-flex pe-2 user-icons">
                                <div class="dropdown">
                                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false" @click="openAddContactMenu = !openAddContactMenu">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <ul class="dropdown-menu" :class="{'show' : openAddContactMenu }" @mouseleave="openAddContactMenu = false">
                                        <li>
                                            <a class="dropdown-item" href="#" @click.prevent="newContactPopup = true , openAddContactMenu= false">
                                                Aggiungi nuovo contatto
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                
                                <i class="fa-solid fa-message btn"></i>
                                <div class="dropdown">
                                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false" @click="openContactsMenu = !openContactsMenu">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu" :class="{'show' : openContactsMenu }" @mouseleave="openContactsMenu = false">
                                        <li>
                                            <a class="dropdown-item" href="#" @click.prevent="deleteContacts() , openContactsMenu= false">
                                                Elimina tutti i contatti
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#" @click.prevent="deleteActiveContact() , openContactsMenu= false">
                                                Elimina contatto attivo
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- popup new contact -->
                        <div class="new-contact-form" v-if="newContactPopup" @mouseleave="newContactPopup = false">
                            <div class="input-group d-flex flex-column">
                                <div class="my-3 mx-auto text-center">
                                    <label for="contact-name" class="form-label mb-2">Nome nuovo contatto</label>
                                    <input type="text" name="contact-image" class=" form-control mb-2" v-model="newContactName">
                                    <label for="contact-image" class="form-label mb-2">Scegli avatar</label>
                                    <select class="form-select mb-3" aria-label="Default select example" name="contact-image" v-model="chooseAvatar">
                                        <option disabled value="">Scegli</option>
                                        <option value="1">Avatar maschile</option>
                                        <option value="2">Avatar femminile</option>
                                        <option value="3">Avatar generico</option>
                                        </select>
                                </div>
                                <button class="btn btn-success mx-auto mb-4" @click.prevent="addNewContact(), newContactPopup = false">Aggiungi</button>
                            </div>
                        </div>
                        <!-- notifications  -->
                        <div class="p-3 row g-0 p-2" :class="[notificationsActive ? 'notifications-active' : 'notifications-disabled']">
                            <div class="notifications-icon d-flex align-items-center justify-content-center col-2">
                                <i class="fa-solid fa-bell-slash" v-if="!notificationsActive"></i>
                                <i class="fa-solid fa-bell" v-if="notificationsActive"></i>
                            </div>
                            <div class="col">
                                <div v-if="!notificationsActive">
                                    <h5 class="m-0 ps-2">Ricevi notifiche</h5>
                                    <a href="#" class="m-0 ps-2 fw-light" @click.prevent="notificationsActive = !notificationsActive">Attiva notifiche desktop</a>
                                </div>
                                <div v-if="notificationsActive">
                                    <h5 class="m-0 ps-2">Le notifiche sono abilitate</h5>
                                    <a href="#" class="m-0 ps-2 fw-light" @click.prevent="notificationsActive = !notificationsActive">Silenzia notifiche</a>
                                </div>
                            </div>
                        </div>

                        <!-- search bar  -->
                        <div class="p-3 search-contacts">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                                <input type="search" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Search" v-model="searchContact" @keyup="filterContacts()"/>
                            </div>
                        </div>

                        <!-- contacts  -->
                        <div class="d-flex flex-column flex-grow-1 overflow-y-scroll">
                            <div v-if="contacts !== []">
                                <div class="contact-box row g-0 p-2" :class="{'active': index === activeUser, 'd-none' : contact.visible === false }" v-for="(contact,index) in contacts" :key="contact.id" @click="openChat(index)">
                                    <div class="user-img-box col-2">
                                        <img class="user-img" :src="contact.avatar" :alt="contact.name">
                                    </div>
                                    <div class="col">
                                        <h5 class="m-0 px-2">{{contact.name}}</h5>
                                        <div class="txt-small px-2">{{lastMessage(contact.messages)}}</div>
                                    </div>
                                    <div class="time col-3 txt-small">{{lastMsgTime(contact.messages)}}</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>


                <!-- main chat  -->
                <div class="start-chat col-12 col-md-6 col-lg-8 g-0 d-md-block overflow-hidden" v-if="activeUser === null">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="welcome-msg p-2 w-50 text-center">Seleziona una chat per iniziare a messaggiare</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-8 g-0 d-md-block" :class="{'d-none' : !showChat}" v-if="activeUser !== null">
                    <div class="h-100 d-flex flex-column flex-nowrap">
                        <!-- header  -->
                        <div class=" header p-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="user-img-box">
                                    <img class="user-img" :src="activeContact.avatar" :alt="activeContact.name">
                                </div>
                                <div>
                                    <h5 class="m-0 ps-2">{{activeContact.name}}</h5>
                                    <h6 class="m-0 ps-2 fw-light" >Ultimo accesso {{lastAccess()}}</h6>
                                </div>
                            </div>
                            <!--header icons -->
                            <div class="d-flex  user-icons pe-2">
                                <button class="btn d-md-none">
                                    <i class="fa-solid fa-circle-arrow-left" @click="showChat = !showChat"></i>
                                </button>
                                <div class="dropdown">
                                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="#">
                                               Cerca...
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown">
                                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-paperclip"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                Allega file
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown">
                                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false" @click="openChatMenu = !openChatMenu">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu" :class="{'show' : openChatMenu }" @mouseleave="openChatMenu = false">
                                        <li>
                                            <a class="dropdown-item" href="#" @click.prevent="biggerFont = true , openChatMenu= false">
                                                Ingrandisci chat
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#" @click.prevent="biggerFont = false , openChatMenu= false">
                                                Ripristina dimensioni chat
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#" @click.prevent="deleteChat() , openChatMenu= false">
                                                Elimina tutti i messaggi
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>

                        <!--chat  -->
                        <div class="main-chat overflow-y-scroll px-2 w-100 h-100" :class="{'fs-5' : biggerFont}">
                            <div class="chat-container px-4 px-lg-5 pt-3 d-flex flex-column">
                                <div class="msg d-flex justify-content-between row" v-for="(msg,index) in activeContact.messages" :key="index" :class="[msg.status === 'sent' ? 'sent-msg' : 'received-msg']" @mouseover="msgHover = index" @mouseleave="msgHover = null, messageIndex = null"  ref="msgs">
                                   <div class="msg-text col-10">
                                        {{msg.message}}
                                   </div> 
                                   <div class="col-2">
                                        <div class="dropdown" v-if="msgHover === index" >
                                            <button class="btn border-0 dropdown-toggle msg-delete" type="button" data-bs-toggle="dropdown" aria-expanded="false" @click="openOptions(index)">
                                            </button>
                                            <ul class="dropdown-menu" :class="{'show' : messageIndex === index}">
                                                <li>
                                                    <a class="dropdown-item" href="#" @click.prevent="deleteMsg(index)">Cancella messaggio</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="msg-time">{{getTiming(msg.date)}}</div>
                                   </div>
                                   
                                </div>
                                
                            </div>
                        </div>

                        <!-- message bar  -->
                        <div class="msg-bar p-2 d-flex justify-content-evenly">
                            <div class="rounded-icon">
                                <i class="fa-regular fa-face-smile p-2"></i>
                            </div>
                            <input type="text" class="form-control w-75" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMsg()">
                            <div class="msg-send rounded-icon">
                                <a href="#" class="" @click.prevent v-if="newMessage === ''">
                                    <i class="fa-solid fa-microphone p-2"></i>
                                </a>
                                
                                <a href="#" class="" @click.prevent="addMsg()" v-if="newMessage !== ''">
                                    <i class="fa-solid fa-paper-plane p-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script type="module" src="js/data.js" ></script> -->
    <script src="js/script.js"></script>
</body>

</html>
